################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AgenteIALocal/CopilotIndices/18.3.277.3498
